@font-face {
	font-family: mainFont;
	src: url(../fonts/mainFont.ttf);
}

body {
	font-family: mainFont;
}

#joke {
	width: 100px;
	height: 100px;
	cursor: pointer;
	background-color: #EF3D59;
	color: white;
	transition: 0.7s;
	margin: 20px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

#joke:hover {
	width: 500px;
	height: 500px;
	margin-top: 50px;
	border-radius: 50%;
	font-size: 100px;
	background-color: #fff;
	color: #EF3D59;
	border: 5px solid #EF3D59;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* Header Styling */
#header-container{
	margin: 0 auto;
	padding: 50px 0 50px 0;
}

#header-container_title {
	float: left;
	font-size: 30px;
}

#header-container_title > :first-child {
	font-size: 35px;
	font-weight: 600;
	color: #344e5c;
}

#header-container_logo {
	float: left;
}

#header-container_logo img {
	width: 90px;	
}
/* Header Styling  END */


/* Input Styling */
.input-container {
	position: relative;
	border: 1px solid #707070;
	border-radius: 100px;
	width: 310px;
	margin: 4px auto; 
	padding: 3px 0 3px 0;
}

.input-container img {
	width: 29px;
	height: 29px;
	border-radius: 30px;
}

.input-container input {
	border: none;
	border-radius: 100px;
    width: 300px;
    font-size: 18px;
    outline: none;
	text-align: center;
}

.input-container_img{
	position: absolute;
	left: 6px;
	-webkit-user-select: none; /* Safari 3.1+ */
  	-moz-user-select: none; /* Firefox 2+ */
  	-ms-user-select: none; /* IE 10+ */
  	user-select: none; /* Standard syntax */
}
/* END Input Styling */

/* Registration Form */
#form{
	text-align: center;
	padding: 50px;
}

#form-upper-text{
	font-size: 30px;
	padding-bottom: 20px;
}

#form input[type=submit] {
	border-radius: 100px;
	color: white;
	background-color: #4AB19D;
	border: 1px solid #4AB19D;
	cursor: pointer;
	width: 80px;
	margin-top: 20px;
}

#form input[type=submit]:hover {
	color: #4AB19D;
	background-color: white;
	border: 1px solid #4AB19D;
}

#already-accout {
	margin-top: 10px;
	font-size: 14px; 
}

.clearfix{
	content: "";
	clear: both;
	display: table;
}

/* popups */

#message {
	text-align: center;
	color: #ef3d59;
	font-weight: 600;
	font-size: 14px;
}

/* navbar */

.navbar-nav {
	margin: 0 auto;
}

.nav-item:hover {
	color: black;
	background-color: #e8e8e8;
}

.navbar-light .navbar-nav .nav-link:focus,.navbar-light .navbar-nav .nav-link:hover {
    color: black;
	background-color: #e8e8e8;
}

.nav-link {
	font-size: 18px;
	font-weight: 900;
}

.navbar-toggler {
    font-size: 1rem;
}

.dropdown-item{
	padding: .25rem 1.5rem;
}


/* Modal styling */

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal #addOrganisationModal  {
	left: 0;
	bottom: 0;
}

/* Modal Content */
.modal-content {
	position: fixed;
	left: 0;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;	
	width: 300px;
	height: 100%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	animation-name: slideIn;
	animation-duration: 0.4s
}

/* Modal Header */
.modal-header {
	background-color: #4ab19d;
	color: white;
}

/* Modal Body */
.modal-body {overflow-y: scroll;}

/* Modal Footer */
.modal-footer {
	
}

#btn-openOrganisationModal {
	background-color: #4ab19d;
	color: white;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
}

#btn-addNewOrganisation {
	background-color: #344e5c;
	width: 60px;
	text-align: center;
	border-radius: 100px;
	color: white;
}

#btn-openSideMenu {
	position: absolute;
    left: -25px;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: red;
    cursor: pointer;
}

.org-name {
	flex: 2;
	cursor: pointer;
	background-color: #344E5C;
	color: white;
	padding: 3px;
}

.add-project-div {
	display: none;
	transition: 1s;
}

.collapsed{
	display: block;
}

.small-btn{
	background-color: #4ab19d;
	padding: 3px;
	color: white;
	cursor: pointer;
}

.project-name {
	flex: 2;
	background-color: #d4d4e4;
}

.org-option-add-project {
    background-color: #4ab19d;
    color: white;
    padding: 3px;
}

.org-option-remove {
    background-color: #ef3d59;
    color: white;
    padding: 3px;
}

/*.pro-div, */
.org-div,
.org-options{
	display: flex;
	flex-flow: row;
}

.org-option,
.pro-option {
	color: white;
    padding: 3px;
    cursor: pointer;
    text-align: center;
}

.del-project{
	background-color: #EF3D59;
}

.org-options-users,
.users-project {
    background-color: #EFC958;
}

.pro-options{
	display: flex;
	flex-flow: row;
} 

.ului-email {font-size: 15px;}
.uluis-id {font-size: 11px;}

.uluis-remove {
    background-color: #ef3d59;
    color: white;
    align-items: center;
    align-self: center;
    justify-content: center;
    display: flex;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.uluis-remove:hover{
	background-color: white;
	border: 1px solid #ef3d59;
	color: #ef3d59;
}

.user-setting-item{
	margin-left: 5px;
	font-size: 11px;
}

.ul-user {padding: 5px;}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
}

.users-list {
	display: hidden;
}

.project-users {
	display: none;
}

.project-users-settings{
	padding: 5px;
}

.add-stuff-icon {
	background-color: #4ab19d;
	color: white;
	padding: 3px;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	cursor: pointer;
	justify-content: center;
}

.add-stuff-icon:hover {
	background-color: #fff;
	color: #4ab19d;
	border: 1px solid #4ab19d;
	border-left: none;
} 

.new-user-id {
	border: 1px solid #4ab19d;
    height: 20px;
    padding-left: 5px;
}

/* Add Animation */
@-webkit-keyframes slideIn {
	from {left: -300px; opacity: 0} 
	to {left: 0; opacity: 1}
}

@keyframes slideIn {
	from {left: -300px; opacity: 0}
	to {left: 0; opacity: 1}
}
/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
  	color: black;
  	text-decoration: none;
  	cursor: pointer;
}

#test {
	display: none;
}

/* SITE CSS */

/* Left Modal Content */
#modal-body_organisations {
	padding: 10px;
}

.org {

}

.projects-list {
	padding-left: 20px;
}

@media (max-width: 1200px) {
	#logo {
		height: 40px;
	}
	
	.nav-link {
		font-size: 18px;
	}
	
	.userimg {
		height: 30px;
		width: 30px;
	}
}

@media (max-width: 400px) {
	#logo {
		height: 30px;
	}
	
	.nav-link {
		font-size: 16px;
	}
	
	.userimg {
		height: 20px;
		width: 20px;
	}
}

.item1 {
	border: 1px solid rgba(0,0,0,.125);
	border-right: none;
}

.item2 {
	border: 1px solid rgba(0,0,0,.125);
	border-right: none;
}

.item3 {
	border: 1px solid rgba(0,0,0,.125);
	border-right: none;
}

.item4 {
	border: 1px solid rgba(0,0,0,.125);
	border-right: none;
}

.item5 {
	border: 1px solid rgba(0,0,0,.125);
}

@media (max-width: 992px) {
	.item1 {
		border: 1px solid rgba(0,0,0,.125);
		border-bottom: none;
		text-align: center;
	}

	.item2 {
		border: 1px solid rgba(0,0,0,.125);
		border-bottom: none;
		text-align: center;
	}

	.item3 {
		border: 1px solid rgba(0,0,0,.125);
		border-bottom: none;
		text-align: center;
	}

	.item4 {
		border: 1px solid rgba(0,0,0,.125);
		border-bottom: none;
		text-align: center;
	}

	.item5 {
		border: 1px solid rgba(0,0,0,.125);
		text-align: center;
	}
	
	.item6 {
		text-align: center;
		width: 220px;
		margin: 0 auto;
	}
}