@font-face {
	font-family: mainFont;
	src: url(../fonts/mainFont.ttf);
}

body {
	font-family: mainFont;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* Header Styling */
#header-container{
	margin: 0 auto;
	padding: 50px 0 50px 0;
}

#header-container_title {
	float: left;
	font-size: 30px;
}

#header-container_title > :first-child {
	font-size: 35px;
	font-weight: 600;
	color: #344e5c;
}

#header-container_logo {
	float: left;
}

#header-container_logo img {
	width: 90px;	
}
/* Header Styling  END */


/* Input Styling */
.input-container {
	position: relative;
	border: 1px solid #707070;
	border-radius: 100px;
	width: 310px;
	margin: 4px auto; 
	padding: 3px 0 3px 0;
}

.input-container img {
	width: 29px;
	height: 29px;
	border-radius: 30px;
}

.input-container input {
	border: none;
	border-radius: 100px;
    width: 300px;
    font-size: 18px;
    outline: none;
	padding-left: 40px;
}

.input-container_img{
	position: absolute;
	left: 6px;
	-webkit-user-select: none; /* Safari 3.1+ */
  	-moz-user-select: none; /* Firefox 2+ */
  	-ms-user-select: none; /* IE 10+ */
  	user-select: none; /* Standard syntax */
}
/* END Input Styling */

/* Registration Form */
#form{
	text-align: center;
	padding: 50px;
}

#form-upper-text{
	font-size: 30px;
	padding-bottom: 20px;
}

#form input[type=submit] {
	border-radius: 100px;
	color: white;
	background-color: #4AB19D;
	border: 1px solid #4AB19D;
	cursor: pointer;
	width: 80px;
	margin-top: 20px;
}
/*
#registration-form input[type=submit] {
    border-radius: 100px;
    color: #4ab19d;
    font-weight: 600;
    background-color: #ffffff;
    border: 2px solid #4AB19D;
    cursor: pointer;
    width: 80px;
    margin-top: 20px;
}*/

#form input[type=submit]:hover {
	color: #4AB19D;
	background-color: white;
	border: 1px solid #4AB19D;
}

#already-accout {
	margin-top: 10px;
	font-size: 14px; 
}

.clearfix{
	content: "";
	clear: both;
	display: table;
}

/* popups */

#message {
	width: 300px;
	margin: 0 auto;
	text-align: left;
	color: red;
	font-size: 15px;
}

/* navbar */

.navbar-nav {
	margin: 0 auto;
}

.nav-item:hover {
	color: black;
	background-color: #e8e8e8;
}

.navbar-light .navbar-nav .nav-link:focus,.navbar-light .navbar-nav .nav-link:hover {
    color: black;
	background-color: #e8e8e8;
}

.nav-link {
	font-size: 18px;
	font-weight: 900;
}

.navbar-toggler {
    font-size: 1rem;
}

.dropdown-item{
	padding: .25rem 1.5rem;
}

@media (max-width: 1200px) {
	#logo {
		height: 40px;
	}
	
	.nav-link {
		font-size: 18px;
	}
	
	.userimg {
		height: 30px;
		width: 30px;
	}
}

@media (max-width: 400px) {
	#logo {
		height: 30px;
	}
	
	.nav-link {
		font-size: 16px;
	}
	
	.userimg {
		height: 20px;
		width: 20px;
	}
}

.item1 {
	border: 1px solid rgba(0,0,0,.125);
	border-right: none;
}

.item2 {
	border: 1px solid rgba(0,0,0,.125);
	border-right: none;
}

.item3 {
	border: 1px solid rgba(0,0,0,.125);
	border-right: none;
}

.item4 {
	border: 1px solid rgba(0,0,0,.125);
	border-right: none;
}

.item5 {
	border: 1px solid rgba(0,0,0,.125);
}

@media (max-width: 992px) {
	.item1 {
		border: 1px solid rgba(0,0,0,.125);
		border-bottom: none;
		text-align: center;
	}

	.item2 {
		border: 1px solid rgba(0,0,0,.125);
		border-bottom: none;
		text-align: center;
	}

	.item3 {
		border: 1px solid rgba(0,0,0,.125);
		border-bottom: none;
		text-align: center;
	}

	.item4 {
		border: 1px solid rgba(0,0,0,.125);
		border-bottom: none;
		text-align: center;
	}

	.item5 {
		border: 1px solid rgba(0,0,0,.125);
		text-align: center;
	}
	
	.item6 {
		text-align: center;
		width: 220px;
		margin: 0 auto;
	}
}